<% if (recipient) { %>
<% if (recipient?.submissionUrl)  { %>
<h3>your playlist has been curated by <a href="/secret-dj/djs/<%= recipient.dj.id %>"><%= recipient.dj.name %></a></h3>
<% if (recipient.rules.length) {%>
<h4>your rules</h4>
<ol class="rule-list">
	<% for (const rule of recipient.rules) { %>
	<li><%=rule.text%></li>
	<% } %>
</ol>
<% } %>
<% if (recipient.dj) { %>
<%- include('../entry-embed', {link: recipient.submissionUrl}); %>
<% } %>
<details>
	<summary>comments</summary>
	<iframe class="comments embed" src="/boxes/<%=recipient.boxId%>"></iframe>
</details>
<% } else { %>
<h4>no playlist was submitted for you. hopefully someone will provide one in the comments</h4>
<iframe class="comments embed" src="/boxes/<%=recipient.boxId%>"></iframe>
<% } %>
<% } %>
