<% if (dj) { %>
<hr />
<h3>a playlist for <a href="/secret-dj/djs/<%= dj.recipient.id %>"><%= dj.recipient.name %></a></h3>
<h4>rules:</h4>
<ol>
	<% for (const rule of dj.rules) { %>
	<li><%=rule.text%></li>
	<% } %>
</ol>
<% if (dj.submissionUrl) { %>
you have successfully submitted a playlist! one made for you will appear here when all playlists have been submitted
<% } else { %>
it's time to start making a playlist! following the rules above, curate a playlist, and submit it here
<% } %>
<form class="submit-playlist-form" action="<%= `/secret-dj/games/${season.id}/playlist` %>">
	<label for="playlist-url">playlist url</label>
	<input
		name="link"
		id="playlist-url"
		type="text"
		value="<%= dj.submissionUrl %>"
		maxlength="<%=Config.DEFAULT_MAX_LENGTH%>"
	/>
	<button type="submit"><%=dj.submissionUrl === null ? 'submit' : 'edit'%> playlist!</button>
</form>
<%- include('../entry-embed', { link: dj.submissionUrl }); %>
<% } else { %>
are you supposed to be playing in this game of secret dj?
<a href="/login?redirect=<%=encodeURIComponent(`/secret-dj/games/${season.id}`)%>">click here to log in!</a>
<% } %>
