<% if (season.owner.id === participant.id) { %>
<div>
	<hr />
	<h3>owner controls 👑</h3>
	<% const editGameDetailsEndpoint = `/secret-dj/games/${season.id}/edit`%>
	<form class="edit-game-form" method="POST" action="<%=editGameDetailsEndpoint%>">
		<label for="name" class="name-label">name</label>
		<br />
		<input class="name-input" id="name" name="name" required value="<%=season.name%>" />
		<br />

		<label for="description" class="description-label">description</label>
		<br />
		<textarea class="description-input" id="description" name="description"><%=season.description%></textarea>
		<br />
		<button type="submit">submit</button>
	</form>
	<% if (season.entries.length) { %>
	<% const startGameEndpoint = `/secret-dj/games/${season.id}/start`%>
	<form class="start-game-form" method="POST" action="<%=startGameEndpoint%>">
		<button type="submit">start game!</button>
	</form>
	<% } else { %>
	<% const deleteEndpoint = `/secret-dj/games/${season.id}/delete`%>
	<form class="delete-game-form" method="POST" action="<%=deleteEndpoint%>">
		<button type="submit">delete game</button>
	</form>
	<% } %>
	<% } %>
	<hr />
	<h3>submit/edit your rules</h3>
	<% const submitRulesEndpoint = `/secret-dj/games/${season.id}/rules`%>
	<form class="enroll-game-form" method="POST" action="<%=submitRulesEndpoint%>">
		<input type="hidden" name="recipientId" value="<%= participant.id %>" readonly />
		<% for (let i = 0; i < season.ruleCount; i++) { %>
		<% const currentRule = recipient === null ? "" : recipient.rules[i].text %>
		<div>
			<label
				>rule
				<%=i + 1%></label
			>
			<br />
			<input name="rules[]" type="text" id="rule-<%=i+1%>" value="<%= currentRule %>" />
			<br />
		</div>
		<% } %>
		<button type="submit"><%= recipient === null ? 'submit' : 'edit' %> rules!</button>
	</form>
</div>
