<table>
	<% for (const post of posts) { %>
	<tr>
		<td>
			<% if (post.deletable) { /* TODO it would be nice to pass on query params */  %>
			<form method="POST" action="posts/delete">
				<button name="id" value="<%= post.id %>">Delete</button>
			</form>
			<% } %>
		</td>
		<td>
			<%= post.createdAt %>
		</td>
		<td>
			<%= post.from %>
		</td>
		<td>
			<%= post.content %>
		</td>
	</tr>
	<% } %>
</table>

<% if (cursor) { %>
<form>
	<button name="cursor" value="<%= cursor %>">Next Page</button>
	<input type="hidden" name="dead" value="<%= query.dead %>" readonly />
</form>
<% } %>
