<!doctype html>
<html lang="en">
	<head>
		<%- include('../../partials/secret-dj/head'); %>
	</head>
	<body>
		<header>
			<%- include('../../partials/header'); %>
		</header>

		<main>
			<%- include('../../partials/secret-dj/secret-dj-title', {path: [{href: `/secret-dj/games/${entry.season.id}`, name: entry.season.name}]}); %>
			<div>
				<h2>
					a playlist for <a href="/secret-dj/djs/<%= entry.recipient.id %>"><%= entry.recipient.name %></a>
				</h2>
				<% if (entry.season.state === 'ended') { %>
				<h3>curated by <a href="/secret-dj/djs/<%= entry.dj.id %>"><%= entry.dj.name %></a></h3>
				<% } %>
				<%if (entry.rules.length === 1) { %>
				<h4><%=entry.rules[0].text%></h4>
				<% } else if (entry.rules.length) { %>
				<h4>rules:</h4>
				<ol>
					<% for (const rule of entry.rules) { %>
					<li><%=rule.text%></li>
					<% } %>
				</ol>
				<% }  %>
				<% if (entry.season.state === 'ended') { %>
				<%- include('../../partials/secret-dj/entry-embed', { link: entry.submissionUrl }); %>
				<% } else { %>
				the playlist
				<%=entry.submissionUrl ? 'is ready and' : ''%>
				will appear here when <a href="/secret-dj/games/<%=entry.season.id%>">this season</a> of secret dj is
				completed
				<% }  %>
				<hr />
				<h2>comments</h2>
				<iframe class="comments embed" src="/boxes/<%=boxId%>"></iframe>
			</div>
		</main>
	</body>
</html>
