<!doctype html>
<html lang="en">
	<head>
		<%- include('../../partials/head'); %>
	</head>
	<body>
		<header>
			<%- include('../../partials/header'); %>
		</header>

		<main>
			<%- include('../../partials/secret-dj/secret-dj-title'); %>
			<div>
				<h2>entry</h2>
				<h3>playlist for: "<%= entry.recipient.name %>"</h3>
				<%- include('../../partials/secret-dj/entry-embed', {recipient: entry }); %>
			</div>
		</main>
	</body>
</html>
