<!doctype html>
<html lang="en">
	<head>
		<%- include('../../partials/secret-dj/head'); %>
	</head>
	<body>
		<header>
			<%- include('../../partials/header'); %>
		</header>

		<main>
			<%- include('../../partials/secret-dj/secret-dj-title'); %>
			<div>
				<h2>
					a playlist for <a href="/secret-dj/djs/<%= entry.recipient.id %>"><%= entry.recipient.name %></a>
				</h2>
				<% if (entry.season.state === 'ended') { %>
				<h3>
					curated by <a href="/secret-dj/djs/<%= entry.dj.id %>"><%= entry.dj.name %></a> during the game
					<a href="/secret-dj/games/<%=entry.season.id%>"><%=entry.season.name%></a>
				</h3>
				<% } %>
				<%if (entry.rules.length === 1) { %>
				<h4><%=entry.rules[0].text%></h4>
				<% } else { %>
				<h4>rules:</h4>
				<ol>
					<% for (const rule of entry.rules) { %>
					<li><%=rule.text%></li>
					<% } %>
				</ol>
				<% }  %>
				<% if (entry.season.state === 'ended') { %>
				<%- include('../../partials/secret-dj/entry-embed', { recipient: entry }); %>
				<% } else { %>
				the playlist will appear here when <a href="/secret-dj/games/<%=entry.season.id%>">this season</a> of
				secret dj is completed
				<% }  %>
				<hr />
				<h2>comments</h2>
				<iframe
					class="comments embed"
					src="/boxes/<%=boxId%>?stylesheet=<%= encodeURIComponent(`${protocol}://${host}/public/secret-dj/styles.css`) %>"
				></iframe>
			</div>
		</main>
	</body>
</html>
