<!doctype html>
<html lang="en">
	<head>
		<%- include('../../partials/head'); %>
	</head>
	<body>
		<header>
			<%- include('../../partials/header'); %>
		</header>

		<main>
			<%- include('../../partials/secret-dj-title'); %>
			<div>
				<h2>game</h2>
				<p>game name: '<%=season.name%>'</p>
				<p>game description: '<%=season.description%>'</p>
				<% if (season.state === 'sign-up') { %>
				<%- include('../../partials/game/sign-up'); %>
				<% } else if (season.state === 'in-progress') { %>
				<%- include('../../partials/game/in-progress'); %>
				<% } else { %>
				<%- include('../../partials/game/ended'); %>
				<% } %>

				<pre>
<%=JSON.stringify({season, participant, recipient, dj, error}, null, '\t')%>
</pre>
				<pre>
// TODO
// 1. if the game is not started,
//     you should see a form for your rules
//     even if you have already signed up (it's essentially a put)
//     if you already signed up, there's a link that says "comments" that goes to /games/id/entries/id
//   beneath is a table with everyone else's rules and also links to /games/id/entries/id
//  ALSO if you are the admin of the game, there should be a start button and a delete button
// 2. if the game IS started,
//     you should see your recipient's rules, as well as a form for the playlist
//     there's a link that says "comments" that goes to /games/id/entries/id
//    beneath is a table with everyone else's rules and also links to /games/id/entries/id
//   ALSO, if your playlist is done, it should say it's ready, but we're waiting on max(N, 1) playlists
// 3. if the game is DONE, you should see the playlist you received at the top
//    beneath is a table with everyone else's rules and playlist links!
</pre
				>
			</div>
		</main>
	</body>
</html>
