<!doctype html>
<html lang="en">
	<head>
		<%- include('../../partials/secret-dj/head'); %>
	</head>
	<body>
		<header>
			<%- include('../../partials/header'); %>
		</header>

		<main>
			<%- include('../../partials/secret-dj/secret-dj-title'); %>
			<p>hello! welcome to secret dj 8)</p>
			<ul>
				<li><a href="/secret-dj/games">browse</a></li>
				<li><a href="/secret-dj/create">create</a></li>
				<li><a href="/secret-dj/archive">archive</a></li>
				<li><a href="/secret-dj/settings">settings</a></li>
				<li><a href="/secret-dj/djs/<%=participantId%>">me</a></li>
			</ul>
			<% if (seasons.length) { %>
			<%- include('../../partials/secret-dj/game-table', {query, showOwnership: true, seasons, participantId, defaultControls: true}); %>
			<% } else { %>
			you are currently not participating in any secret dj games. click <a href="/secret-dj/games">browse</a> to
			find a game to join
			<% } %>
		</main>
	</body>
</html>
