<!doctype html>
<html lang="en">
	<head>
		<%- include('../../partials/secret-dj/head'); %>
	</head>
	<body>
		<header>
			<%- include('../../partials/header'); %>
		</header>

		<main>
			<%- include('../../partials/secret-dj/secret-dj-title'); %>
			<div>
				<h2>settings</h2>
			</div>

			<% if (error) { %>
			<p class="error"><%= error %></p>
			<% } %>
			<% if (success) { %>
			<p class="success"><%= success %></p>
			<% } %>

			<form name="settings-form" method="post">
				<label for="name" class="name-label">name</label>
				<input
					class="name-input"
					id="name"
					name="name"
					value="<%=name%>"
					maxlength="<%=Config.DEFAULT_MAX_LENGTH%>"
					required
				/>

				<button class="settings-save">save</button>
			</form>
		</main>
	</body>
</html>
