<% if (season.entries.length) { %>
<table>
	<tr>
		<th>listener</th>
		<% if (season.ruleCount > 1) { %>
		<th>rules</th>
		<% } else if (season.ruleCount === 1) { %>
		<th>rule</th>
		<% } %>
		<th>entry</th>
		<% if (season.state === 'in-progress') { %>
		<th>ready</th>
		<% } %>
	</tr>
	<% for (const entry of season.entries) { %>
	<% const link = `/secret-dj/games/${season.id}/entries/${entry.id}`%>
	<tr>
		<td><a href="/secret-dj/djs/<%= entry.recipient.id %>"><%= entry.recipient.name %></a></td>
		<% if (season.ruleCount === 1) { %>
		<td class="entry-table-rule"><%=entry.rules[0].text%></td>
		<% } else  if (season.ruleCount) { %>
		<td class="entry-table-rule">
			<ol>
				<% for (const rule of entry.rules) { %>
				<li><%=rule.text%></li>
				<% } %>
			</ol>
		</td>
		<% } %>
		<td><a href="<%=link%>">view</a></td>
		<% if (season.state === 'in-progress') { %>
		<td><%= entry.submissionUrl ? '💿' : '' %></td>
		<% } %>
	</tr>
	<% } %>
</table>
<% } else { %>
no one has signed up for this season of secret dj yet
<% } %>
