<table>
	<tr>
		<th>recipient</th>
		<% for (let i = 0; i < season.ruleCount; i++) { %>
		<th>
			rule
			<%=i + 1%>
		</th>
		<% } %>
		<th>entry page</th>
	</tr>
	<% for (const entry of season.entries) { %>
	<% const link = `/secret-dj/games/${season.id}/entries/${entry.id}`%>
	<a href="<%=link%>">
		<tr>
			<td><a href="/secret-dj/djs/<%= entry.recipient.id %>"><%= entry.recipient.name %></a></td>
			<% for (const rule of entry.rules) { %>
			<td><%=rule.text%></td>
			<% } %>
			<td><a href="<%=link%>">view</a></td>
		</tr>
	</a>
	<% } %>
</table>
