<head>
	<%for (const stylesheet of stylesheets) {%>
	<link rel="stylesheet" href="<%=stylesheet%>" />
	<%}%>
</head>
<body>
	<h1 class="box-name"><%= box.name%></h1>
	<% if (!box.deleted) { %>
	<%- include('../partials/submit-post'); %>
	<% } %>
	<%- include('../partials/posts'); %>
	<%- include('../partials/controls') %>
</body>
