<head>
	<title><%=box.name%></title>
	<% if (box.stylesheet) {%>
	<link rel="stylesheet" href="<%=box.stylesheet%>" />
	<% } %>
</head>
<body class="box-body">
	<h1 class="box-name"><%= box.name%></h1>
	<% if (!box.deleted) { %>
	<%- include('../partials/submit-post'); %>
	<% } %>
	<%- include('../partials/posts'); %>
	<%- include('../partials/controls') %>
</body>
