<table>
	<tr>
		<th>behaviour</th>
		<th>manage</th>
		<th>link</th>
	</tr>

	<% for (const image of counter.images) { %>

	<tr>
		<td><%=image.viewBehaviour%></td>
		<td>
			<a href="<%=counter.id%>/png/admin/<%=image.id%>">
				<span>manage</span>
			</a>
		</td>
		<td>
			<a href="/counters/<%=counter.id%>/png/<%=image.id%>"><span>link</span></a>
		</td>
	</tr>

	<% } %>
</table>

<%- include('page-controls', {query, params: ['take'], cursor, cursorName: 'cursor'}); %>
